<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <div class="osr-sheet {{#if actor.flags.osr-sheet.allow-edit}}allow-edit{{/if}}">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="100"
      width="100"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="Name"
        />
      </h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use, use
      both the "grid" and "grid-Ncol" class where "N" can be any number from 1
      to 12 and will create that number of columns. --}}
      <div class="resource grid grid-4col">
        {{!-- "flex-group-center" is also defined in the _grid.scss file and it
        will add a small amount of padding, a border, and will center all of its
        child elements content and text. --}}
        <!--div class="resource flex-group-center">
          <label class="resource-label">{{localize "OSR.Race"}}</label>
          <select name="system.race" type="text">
            {{#select actor.system.race}}
              {{#each actor.system.races as |race key|}}
              <option value= "{{key}}" >{{race.label}}</option>
              {{/each}}
            {{/select}}  
          </select>
        </div-->
        <div class="resource flex-group-center">
          <label class="resource-label">{{localize "OSR.Race"}}</label>
          <input
          name="system.details.race"
          type="text"
          value="{{system.details.race}}"
          placeholder="{{localize "OSR.Race"}}"
        />
        </div>
        <div class="resource flex-group-center">
          <label class="resource-label">{{localize "OSR.Class"}}</label>
          <input
          name="system.details.class"
          type="text"
          value="{{system.details.class}}"
          placeholder="{{localize "OSR.Class"}}"
        />
        </div>
        <div class="resource flex-group-center">
          <label class="resource-label">{{localize "OSR.Background"}}</label>
          <input
          name="system.details.background"
          type="text"
          value="{{system.details.background}}"
          placeholder="{{localize "OSR.Background"}}"
        />
        </div>
        <div class="resource flex-group-center">
          <label class="resource-label"></label>
        </div>
</div>
<div class="resource grid grid-5col">
        <div class="resource flex-group-center">
          <label for="system.attributes.hp.value" class="resource-label">{{ localize "OSR.HitPoints" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input
              type="text"
              name="system.attributes.hp.value"
              value="{{system.attributes.hp.value}}" placeholder="10"
              data-dtype="Number"
            />
            <span> / </span>
            <input
              type="text"
              name="system.attributes.hp.max"
              value="{{system.attributes.hp.max}}" placeholder="10"
              data-dtype="Number"
            />
          </div>
        </div>

        <!--div class="resource flex-group-center">
          <label for="system.power.value" class="resource-label">Power</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input
              type="text"
              name="system.power.value"
              value="{{system.power.value}}"
              data-dtype="Number"
            />
            <span> / </span>
            <input
              type="text"
              name="system.power.max"
              value="{{system.power.max}}"
              data-dtype="Number"
            />
          </div>
        </div-->
        <div class="resource flex-group-center">
          <label for="system.attributes.ac.value" class="resource-label"
            >AC</label
          >
          <div class="resource-content flexrow flex-center flex-between">
            <input
              type="text"
              name="system.attributes.ac.value"
              value="{{system.attributes.ac.value}}" placeholder="AC"
              data-dtype="Number"
            />
          </div>
        </div>  

        <div class="resource flex-group-center">
          <label for="system.details.level.value" class="resource-label"
            >{{localize "OSR.Level" }}
          </label>
          <div class="resource-content flexrow flex-center flex-between">
            <input
              type="text"
              name="system.details.level.value"
              value="{{system.details.level.value}}" placeholder="{{localize "OSR.Level" }}"
              data-dtype="Number"
            />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.attributes.proficiency.value" class="resource-label"
            >{{localize "OSR.Proficiency" }}</label
          >
          <div class="resource-content flexrow flex-center flex-between">
            <input
              type="text"
              name="system.attributes.proficiency.value"
              value="{{system.attributes.proficiency.value}}" placeholder="{{localize "OSR.Level" }}"
              data-dtype="Number"
            />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label class="resource-label rollable" data-roll="d@hitDieTypes">Hit Dice D?</label>
          
          <div class="resource-content flexrow flex-center flex-between">
            <input
                type="text"
                name="system.hitDieTypes"
                value="{{system.hitDieTypes}}" placeholder="D"
                data-dtype="String"
              />
          </div>
        </div>
        <!--div>
          <select class="selectrace" name="system.race.value" data-type="String">
            {{#select system.race.value}}
              {{#each system.races as |race key|}}
              <option value= "{{key}}">{{race.label}}</option>
              {{/each}}
            {{/select}}  
          </select>
        </div>
        <div class="form-group">
                <label>Hit Dice</label>
                <div class="form-fields">
                    <select name="system.hitDice" data-type="String">
                        {{#select system.hitDice}}
                        {{#each config.hitDieTypes as |hitDice key|}}
                        <option value="{{key}}">{{hitDice.label}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
        </div-->
      </div>

    </div>
  </header>

  <div>
    <section>
      {{!-- Ability Scores --}}
      <ul class="ability-scores">
        {{#each system.abilities as |ability id|}}
        <li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
          <div class="wrapper" data-ability="{{id}}">
            <!--label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{ability.label}}</label-->
            <h4 class="ability-name box-title rollable" title="{{ability.label}}">{{ability.labelAbbr}}</h4>
            <div class="value">
              <input class="ability-score" name="system.abilities.{{id}}.value" type="text" value="{{ability.value}}" data-dtype="Number" placeholder="10">
            </div>
            <div class="ability-modifiers value-footer">
              <span class="ability-mod rollable"  data-roll="d20+@abilities.{{id}}.mod">{{numberFormat ability.mod decimals=0 sign=true}}</span>
              <span class="ability-save rollable" data-roll="d20+@abilities.{{id}}.mod+@attributes.proficiency.value">{{localize "OSR.ProficiencyAbbr" }}</span>
            </div>
            <span class="mod-label ability-mod-label">{{ localize 'OSR.AbbrMod' }}</span>
            <span class="mod-label save-mod-label">{{ localize "OSR.Proficient" }}</span>
          </div>
          <!--a class="config-button" data-action="ability" title="{{localize 'OSR.AbilityConfigure'}}"><i class="fas fa-cog"></i></a-->
        </li>
        {{/each}}
      </ul>
    </section>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
    
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">



    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      {{> "systems/osr/templates/actor/parts/actor-features.html"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered,
      you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData
      button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/osr/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/osr/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/osr/templates/actor/parts/actor-effects.html"}}
    </div>
  </section>
  </div>
</form>
